/* You can add global styles to this file, and also import other style files */
app-display {
  display: inline-block;
  vertical-align: top;
  width: 400px;
}

img {
  width: 200px;
}

.fight {
  text-align: center;
}