<div class="wrapper">
  <h2>Tulsa, OK</h2>
  <div class="datawrapper">
    <p>Humidity: {{ data.main.humidity }}</p>
    <p>Temperature (average): {{ data.main.temp }}</p>
    <p>Temperature (high): {{ data.main.temp_max }}</p>
    <p>Temperature (low): {{ data.main.temp_min }}</p>
    <p>Status: {{ data.weather[0].description }}</p>
    <img src="/assets/images/tulsa.jpg" alt="By Attribution is required:© Caleb Long, CC BY-SA 2.5-2.0-1.0, https://commons.wikimedia.org/w/index.php?curid=3987547" class="location_pic">   
  </div>
</div>