<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>All the quotes</title>
</head>
<body>
  <% for (quote of quotes) {  %>
    <h3><%= quote.content  %></h3>
    <p>---<%= quote.name %> at <%= quote.createdAt %></p>
  <% } %>
  <a href="/"><button>Back to the submission page...</button></a>
</body>
</html>