/* You can add global styles to this file, and also import other style files */
.error {
  font-size: 0.85em;
  color: rgba(99, 99, 248, 0.589);
}

app-registration, app-login {
  display: inline-block;
  vertical-align: top;
}