<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Who is our latest Naked Mole Rat?</title>
</head>
<body>
  <h2>Please enter some particulars below:</h2>
  <form action="/molerats" method="POST" id="new_molerat">
    <label>Name: <input name="name" type="text"></label>
    <label>Age: <input name="age" type="text"></label>
    <label>Color: <input name="color" type="text"></label>
    <label>Favorite clothes: <input name="favorite_clothes" type="text"></label>
    <input type="submit" value="Register">
  </form>
</body>
</html>