<div id="wrapper">
  <h1>US Time Zone Display</h1>
  <button (click)="onTZButtonClick('PST')" [ngClass]="{ 'clicked': lastTimeZoneSelected === 'PST' }" class="timeZone">PST</button>
  <button (click)="onTZButtonClick('MST')" [ngClass]="{ 'clicked': lastTimeZoneSelected === 'MST' }" class="timeZone">MST</button>
  <button (click)="onTZButtonClick('CST')" [ngClass]="{ 'clicked': lastTimeZoneSelected === 'CST' }" class="timeZone">CST</button>
  <button (click)="onTZButtonClick('EST')" [ngClass]="{ 'clicked': lastTimeZoneSelected === 'EST' }" class="timeZone">EST</button>
  <button (click)="onTZButtonClick(null)" class="clear">Clear</button>
  <h3>Time: {{ today | date:'medium' }}</h3>
</div>