<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Count some things!</title>
</head>
<body>
  <h1>Number of times this page has been visited:</h1>
  <h4><%=count %></h4>

  <form action="/add" method="POST">
    <input type="submit" value="Add an extra point to the counter">
  </form>
  <form action="/reset" method="post">
    <input type="submit" value="Reset the counter">
  </form>
</body>
</html>