<div id="wrapper">
  <h1>Dojo Mail</h1>
  <table>
    <thead>
      <tr>
        <th>Email</th>
        <th>Importance</th>
        <th>Subject</th>
        <th>Content</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let email of emailList">
        <td>{{ email.email | lowercase }}</td>
        <td *ngIf='email.importance'>High</td>
        <td *ngIf='!email.importance'>Low</td>
        <td>{{ email.subject  }}</td>
        <td>{{ email.content  }}</td>
      </tr>
    </tbody>
  </table>
</div>