* {
  margin: 0;
  padding: 0;
}

app-header, app-nav, app-main {
  border: 1px solid black;
}

app-header {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

app-nav {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  height: 500px;
}

app-main {
  width:66%;
  display: inline-block;
  vertical-align: top;
  height: 500px;
  margin-left: 28px;
}

#wrapper {
  width: 80%;
  margin: 0 auto;
}